@typeparam TItem

<select value="@Value" @onchange="OnValueChangedAsync">
    <option value=""></option>
    @foreach (var item in EnumValues)
    {
        <option value="@item">@item</option>
    }
</select>