<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="@DropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ButtonText
    </button>
    <div class="dropdown-menu" aria-labelledby="@DropdownId">
        @foreach (var item in Items)
        {
            <button
                class="dropdown-item"
                @onclick="() => SelectItemAsync(item)"
                value="@item.Value">
                @item.Text
            </button>
        }
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item" href="#">Action</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Something else here</a>
        </li>
    </ul>
</div>