<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">One-way binding</h5>
        <p>
            <button class="btn btn-primary" @onclick="AddOne">Add 1</button>
        </p>

        <p>
        <p>Number: @NumberValue</p>
        </p>
    </div>
</div>