@page "/playground/bindings"
@using Mmu.CleanBlazor.Presentation2.Areas.Playground.BindingFun.Oneway
@using Mmu.CleanBlazor.Presentation2.Areas.Playground.BindingFun.TwoWay

<div class="container">
    <div class="row">
        <OnewayBinding>
        </OnewayBinding>
    </div>

    <div class="row">
        <TwoWayBinding>
        </TwoWayBinding>
    </div>
</div>